<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bind使用案例</title>
  <link type="text/css" rel="stylesheet" href="./css/index.css" />
</head>
<body>

  <div class="wrap">
    <div class="tab clearfix">
      <div class="t-item active">选项1</div>
      <div class="t-item">选项2</div>
      <div class="t-item">选项3</div>
      <div class="t-item">选项4</div>
    </div>
    <div class="page">
      <div class="p-item active">页面1</div>
      <div class="p-item">页面2</div>
      <div class="p-item">页面3</div>
      <div class="p-item">页面4</div>
    </div>
  </div>


  <script type="text/javascript" src="./js/index.js"></script>
  <script type="text/javascript">
    new Tab().init();
  </script>
  
</body>
</html>