<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoList</title>
</head>
<body>
  
  <div id="root">
    <input type="text" v-model="inputValue" />
    <button
      v-on:click="handleBtnClick"
    >
      提交
    </button>
    {{ inputValue }}

    <ul>
      <li
        v-for="item in list"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <script type="text/javascript" src="../vue.js"></script>

  <script type="text/javascript">
    var vm = new Vue({
      el: '#root',
      data: {
        inputValue: '',
        list: [ 1, 2 ]
      },
      methods: {
        handleBtnClick () {
          this.list.push(this.inputValue);
          this.inputValue = '';
        }
      }
    })
  </script>

</body>
</html>