.floor-header {
  width: 1190px;
  height: 45px;
  margin: 0 auto;
  line-height: 45px;
  text-align: center;
}

.floor-header h3 {
  position: relative;
  /* 
    width: 150px;
    height: 45px;
    margin: 0 auto 20px;
    padding: 0 50px;
  */
  font-size: 28px;
}

/*
.floor-header h3.floor-title::before,
.floor-header h3.floor-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 3px;
  background-color: #000;
}

.floor-header h3.floor-title::before {
  left: 0;
}

.floor-header h3.floor-title::after {
  right: 0;
}
*/

.floor-header h3.floor-title::before,
.floor-header h3.floor-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 3px;
  background-color: #000;
}

.floor-header h3.floor-title::before {
  margin-left: -130px;
}

.floor-header h3.floor-title::after {
  margin-left: 85px;
}

.show-wrapper {
  flex-direction: row;
  width: 1190px;
  height: 450px;
  margin: 0 auto 30px;
}

.show-wrapper .show-box {
  float: left;
  width: 390px;
  height: 100%;
  margin-right: 10px;
  background-color: #fff;
}

.show-wrapper .show-box.last {
  margin-right: 0;
}

.show-wrapper .show-box .show-hd {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.show-wrapper .show-box .show-hd h3.show-hd-title {
  /* float: left; */
  display: inline-block;
  font-size: 22px;
  color: #222;
  margin-right: 5px;
}

.show-wrapper .show-box .show-hd .icon-arrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../img/arrow-right.png) no-repeat local 0 0/100% 100% content-box content-box;
  /* margin: 18px 5px 0 0; */
  vertical-align: middle;
  margin-right: 5px;
}

.show-wrapper .show-box .show-hd .show-subtitle {
  font-size: 14px;
  color: #999;
}

.show-wrapper .show-box .img-show {
  width: 390px;
  height: 370px;
}

.show-wrapper .show-box.middle-box .img-show {
  width: 350px;  
  height: 100%;
  margin: 0 20px;
}

.show-wrapper .show-box.left-box .img-show {
  width: 390px;
  height: 370px;
}

.show-wrapper .show-box.left-box .img-show .main-imgs {
  flex-direction: row;
  flex-wrap: wrap;
  width: 370px;
  height: 368px;
  margin-left: 20px;
}

.show-wrapper .show-box.left-box .img-show .main-imgs .sort-middle {
  float: left;
  width: 170px;
  height: 180px;
  margin: 0 10px 10px 0;
}

.show-wrapper .show-box.left-box .img-show .main-imgs .sort-wrap {
  float: left;
  width: 349px;
  height: 178px;
}

.show-wrapper .show-box.left-box .img-show .main-imgs .sort-wrap .sort-img-list {
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.show-wrapper .show-box.left-box .img-show .main-imgs .sort-wrap .sort-img-list .sort-img-item {
  /* float: left; */
  display: inline-block;
  width: 25%;
  height: 33.33%;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0 0 1px;
}

.show-wrapper .show-box.right-box {
  position: relative;
  background-color: #f0f0f0f0;
}

.show-wrapper .show-box.right-box::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 15px;
  width: 350px;
  height: 430px;
  border: 3px solid #000;
}

.show-wrapper .show-box.right-box .act-img-lk {
  display: block;
  width: 350px;
  height: 430px;
}