ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

div,
li {
  box-sizing: border-box;
}

.wrap {
  width: 1200px;
  height: 200px;
  margin: 200px auto;
}

.wrap .list {
  height: 100%;
}


.wrap .list-item {
  position: relative;
  float: left;
  width: 210px;
  height: 100%;
  padding: 10px;
}

.wrap .list-item.active {
  width: 360px;
}

.wrap .list-item .card {
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.wrap .list-item:hover .card {
  box-shadow: 0 0 10px #ccc;
}

.wrap .list-item .card .title {
  width: 170px;
  height: 80px;
}

.wrap .list-item .card .title a {
  color: #424242;
  font-size: 14px;
}

.wrap .list-item .card .title a:hover {
  color: red;
}

.wrap .list-item .card .price {
  width: 170px;
  height: 50%;
  line-height: 90px;
  font-size: 20px;
  color: red;
}

.wrap .list-item .card .img {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 70px;
  height: 70px;
}

.wrap .list-item.active .card .img {
  width: 150px;
  height: 150px;
}

.wrap .list-item .card .img img {
  width: 100%;
  height: 100%;
}